// $primary-color: linear-gradient(
//   101deg,
//   rgba(18, 117, 207, 1) 2%,
//   rgba(41, 210, 197, 1) 45%,
//   rgba(30, 198, 182, 1) 67%,
//   rgba(14, 130, 200, 1) 100%
// );
$primary-color: #052641;
$secondry-color: #3d80b6;
$main-color: white;
// background: rgb(18, 117, 207);
// background: linear-gradient(
//   101deg,
//   rgba(18, 117, 207, 1) 2%,
//   rgba(41, 210, 197, 1) 45%,
//   rgba(30, 198, 182, 1) 67%,
//   rgba(14, 130, 200, 1) 100%
// );
